<?xml version="1.0" encoding="UTF-8"?>
<svg class="search__input-icon" width="15px" height="14px" viewBox="0 0 15 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 59.1 (86144) - https://sketch.com -->
    <title>icon/search black</title>
    <desc>Created with Sketch.</desc>
    <g id="Navigation" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Search-Hover/1440" transform="translate(-1251.000000, -24.000000)" stroke="#fff">
            <g id="icon/search-black" transform="translate(1251.000000, 24.000000)">
                <rect id="Rectangle-Copy" x="0.5" y="0.5" width="10.8125" height="10.8125" rx="5.40625"></rect>
                <line x1="9.84375" y1="9.84375" x2="13.8654198" y2="13.8654198" id="Line" stroke-linecap="round"></line>
            </g>
        </g>
    </g>
</svg>