<div class="faq">
	<h1 class="page-title faq__title">
		{{- page.title -}}
	</h1>

	{% if section.blocks.size > 0 %}
		<div class="faq__content js-accordion">
			{% assign count = 1 %}

			{% for block in section.blocks %}
				{% case block.type %}
					{% when 'Question' %}
						{% include 'faq-question' %}

						{% assign count = count | plus: 1 %}
					{% when 'Heading' %}
						{% include 'faq-heading' %}
				{% endcase %}
			{% endfor %}
		</div>
	{% endif %}
</div>

{% schema %}
	{
		"name": "FAQ",
		"blocks": [
			{
				"type": "Question",
				"name": "Question",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Question"
					},
					{
						"type": "richtext",
						"id": "answer",
						"label": "Answer"
					}
				]
			},
			{
				"type": "Heading",
				"name": "Heading",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Heading"
					}
				]
			}
		]
	}
{% endschema %}
