{% if section.settings.collection %}
	<section class="BANANA viewport-section" data-section-id="{{ section.id }}" id="home-product-slider">
		<header>
			<div class="text-header-container">
				<div class="eyebrow_text">
					<span class="slash-img"></span>

					<h5>
						{{- section.settings.eyebrow -}}
					</h5>
				</div>

				<h2>
					{{- section.settings.title -}}
				</h2>
			</div>
		</header>

		<div class="product-scroll" id="product_slider_container">
			<div class="product-scroll__wrapper">
				{% for product in collections[section.settings.collection].products limit:10 %}
					{% if product.available %}
						<div class="item">
							{% include 'product-grid-item_ports' %}
						</div><!-- item -->
					{% endif %}
				{% endfor %}
			</div> <!-- product_slider -->
		</div> <!-- #product_slider_container -->
	</section>
{% endif %}

<script type="text/javascript">
	$(document).ready(function(){
		$('.swatch :radio').change(function () {
			var optionIndex = $(this).closest('.swatch').attr('data-option-index');
			var optionValue = $(this).val();

			$(this)
				.closest('form')
				.find('.single-option-selector')
				.eq(optionIndex)
				.val(optionValue)
				.trigger('change');
		});
	});
</script>


{% schema %}
  {
    "name": "Product_slider",
    "settings": [
      {
        "id": "eyebrow",
        "type": "text",
        "label": "Eyebrow",
        "default": "Hello world"
      },
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Hello world"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
	  "presets": [
	    {
	      "name": "Product Slider",
	      "category": "Home Page"
	    }
	  ]
  }
{% endschema %}
