<!-- /templates/page.liquid -->
<div class="general-page--wrapper">
  <header class="section-header text-center">
    <h1 class="h2">{{ page.title }}</h1>
  </header>

  <div class="rte rte--nomargin rte--indented-images">
    {{ page.content }}
  </div>
</div>