<!-- /templates/page.liquid -->
<div class="grids lookbook_header">
  <div class="full_width">

    <header class="section-header text-center">
      <span class="eyebrow h4"> {{ page.content }} </span>
      <h1>{{ page.title }}</h1>
    </header>

    {% comment %}
    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          
        </div>
      </div>
    </div>
    {% endcomment %}

  </div>
</div>


{% section 'page_lookbook_2' %}


